NET8/WebDemo/bin
NET8/WebDemo/obj
NET8/.vs/NET8/v17
NET8/.vs
NET8/WebDemo/.vs
NET8/WebDemo.Domain/bin
NET8/WebDemo.Domain/obj
NET8/.idea
NET8/BlazorDemo/obj
NET8/BlazorDemo/bin
.vs/CSharp/v17
.vs
NET8/WebDemo.Infra/obj
NET8/WebDemo.Infra/obj
NET8/WebDemo.Application/obj
NET8/WebDemo.Application/obj
NET8/WebDemo.Infra/obj
NET8/WebDemo.Infra/bin
NET8/WebDemo.Application/bin
Docker/grafana/data/grafana.db
Docker/mysql/data/#innodb_redo
Docker/mysql/data/performance_schema
Docker/mysql/data/#innodb_temp
Docker/mysql/data/mysql
Docker/mysql/data/sys
Docker/mysql/data
Docker/prometheus/data/chunks_head
Docker/prometheus/data/wal
Docker/prometheus/data/lock
Docker/prometheus/data/queries.active
Docker/prometheus/data
Docker/redis/data/dump.rdb
