.idea
.vs
.vs/CSharp/v17
DataGrip/.idea/
Docker/grafana/data
Docker/grafana/data/grafana.db
Docker/mysql/data
Docker/mysql/data/#innodb_redo
Docker/mysql/data/#innodb_temp
Docker/mysql/data/mysql
Docker/mysql/data/performance_schema
Docker/mysql/data/sys
Docker/nexus-data/
Docker/portainer/data/certs
Docker/portainer/data/chisel
Docker/portainer/data/docker_config
Docker/portainer/data/portainer.db
Docker/portainer/data/portainer.key
Docker/portainer/data/portainer.pub
Docker/prometheus/data
Docker/prometheus/data/chunks_head
Docker/prometheus/data/lock
Docker/prometheus/data/queries.active
Docker/prometheus/data/wal
Docker/redis/data/dump.rdb
NET8/.idea
NET8/.vs
NET8/BlazorDemo/bin
NET8/BlazorDemo/Logs
NET8/BlazorDemo/obj
NET8/FluentBlazorDemo/bin
NET8/FluentBlazorDemo/FluentBlazorDemo.csproj.user
NET8/FluentBlazorDemo/Logs
NET8/FluentBlazorDemo/obj
NET8/WebDemo.Application/bin
NET8/WebDemo.Application/obj
NET8/WebDemo.Domain/bin
NET8/WebDemo.Domain/obj
NET8/WebDemo.Infra/bin
NET8/WebDemo.Infra/obj
NET8/WebDemo/.vs
NET8/WebDemo/bin
NET8/WebDemo/Logs
NET8/WebDemo/obj
