@page "/notify"
@rendermode InteractiveServer

<h3>Notify</h3>

<div class="form-group">
    <label>
        Message:
        <input @bind="message" size="50" />
    </label>
</div>
<button @onclick="SendMessageAsync" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>